*{
    margin: 0;
    font-family: sans-serif;
}

.secao-titulo{
    background-color: #fff;
    width: 100%;
}
.secao-titulo div{
    width: 800px;
    margin: 0 auto;
}
.secao-titulo div p{   
    font-family: sans-serif; 
    padding: 10px 0;
    font-weight: bold;
}
.secao-consultor{
    background-image: url('../img/capa.jpg');
    height: 300px;
    background-size: cover;
    padding: 40px 0;
}
.secao-consultor div{
    width: 800px;
    margin: 0 auto;
    text-align: right;
}
.secao-consultor div h2{    
    font-family: sans-serif;
    font-weight: bold;
    font-size: 28px;
}
.secao-consultor div p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.secao-sobre, .secao-areas, .secao-fale{
    width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
}
h4{
    font-family: sans-serif;
    margin: 10px 0;
}
.secao-sobre p{
    font-family: sans-serif;
    margin: 10px 0;
}
.secao-sobre img{
    width: 250px;
}
.compromisso{
    font-family: sans-serif;
    margin: 10px 0;
    border-left: 1px solid;
    padding-left: 10px;
}
.secao-atuacao, .secao-contato{
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px 0;
    text-align: center;
}
.secao-atuacao h2, .secao-contato h2{
    font-family: sans-serif;
    font-weight: bold;
    background-color: #fff;
    color: #000;    
    width: 120px;
    margin: 0 auto;
    border-radius: 25px;
}
.secao-areas p{
    margin: 10px 0;
}
.secao-fale h4{
    margin: 10px 0;
}