body{
    margin: 0;
    font-family: Tahoma;
}
.secao{
    text-align: center;
    padding: 30px 0;    
}
.paragrafo{
    font-size: 18px;
    text-align: justify;
    line-height: 28px;
    margin: 10px auto;
    width: 980px;
}
.topo{
    width: 100%;
    background-color: #000;
    border-bottom: 1px solid #d5960054;
    padding: 15px 0;
    position: fixed;
}
h1{
    color: #d59600;
    margin-bottom: 5px;
}
.paragrafo-topo{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
.link-topo{
    color: #d59600;
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
    border-bottom: 2px solid #d59600;
}
.banner{
    padding-top: 0;
}
.banner-img{
    width: 100%;
}
span{
    font-weight: bold;
}
h2{
    font-weight: normal;
    color: #000;
    margin-top: 0;
}
.imagem{
    width: 450px;
}
.texto-amarelo{
    color: #d59600;
}
h3{
    color: #000;
    font-size: 28px;
    line-height: 42px;
}
.contato iframe{
    width: 70%;
    margin-bottom: 10px;
}