body{
    background-color: #f5f0e5;
    font-family: Tahoma;
}
.cabecalho{
    background-color: #000000;    
    padding: 10px;   
}
p{
    text-align: right;
}
p>a{
    color: #f5f0e5;
}
a{
    text-decoration: none;    
    margin-right: 20px;
}
.secao-html{
    text-align: center;
}
div>img{
    width: 300px;    
}
