* {
    margin: 0;
    padding: 0;
}
.topo{
    background: #cf010b;    
    text-align: center;
    height: 48px;   
}
.links{
    padding: 10px;
}
.links li{
    display: inline;    
}
.links li a{
    
    color: #fff;
    padding: 0 10px;
}
img{
    background: #a30109;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.main{
    width: 100%;    
    max-width: 1024px;
    box-sizing: border-box;
}
.area{
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 10px 0;
    box-sizing: border-box;
}
#sobre h2, #sobre p{
    margin: 10px 0;
    line-height: 20px;
}
#contato h3, #contato p, #contato ul{
    margin: 10px 0;
}
#contato ul li, #contato ul li a{
    display: inline;
}
#contato ul li a{    
    background-color: #cf010b;
    color: #fff;
    padding: 10px;    
}