* {
    margin: 0;
    padding: 0;    
}
body{
    font-family: sans-serif;    
}
.imagem-capa{
    width: 100%;
}
header, footer{
    background-color: #1b0fdf;
    color: #fff;
    width: 100%;
    height: 42px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    margin: 15px 0;
}
section{
    width: 100%;    
    margin:  0 0 20px 0;
    padding: 0 25px;
    box-sizing: border-box;
}
h2{
    margin:  0 0 15px 0;
}
ul{
    margin: 0 20px;
}
a{
    color: #1b0fdf;
}
a:visited{
    color: #1b0fdf;
}
.tres-imagens{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.tres-imagens img{
    width: calc((100% - 9px) / 3);
    box-sizing: border-box;
    
}
.imagens-jogos img:hover{   
    border: 5px solid blue;
}