body{    
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    padding: 30px 0;
    text-align: center;    
}
p{
    margin: 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}
.primeira-secao{
    background-color: #afddfb;
}
.primeira-secao img{
    width: 150px;
}
.primeira-secao p{
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}
.primeira-secao p a{
    font-size: 18px;    
    color: #1d1d1d;
    border: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
}
.segunda-secao{
    margin-top: 50px;
    padding-top: 0;    
}
.banner{
    width: 90%;
}
span{
    font-weight: bold;
}
.terceira-secao h1{
    color: #1d1d1d;
    margin-bottom: 5px;
}
.terceira-secao h2, .quinta-secao h2{
    color: #1c81c0;
}
.terceira-secao img, .quinta-secao img{
    width: 450px;
}
.texto-azul{
    color: #1d80c1;
    font-weight: bold;
}
.quarta-secao{
    background-color: #1d80c1;
}
.subtitulo-branco{
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}
.quarta-secao p{
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}
.texto-amarelo{
    font-weight: bold;
    color: #fff81b;
}
.quarta-secao ul{
    margin: 40px auto;
    width: 135px;
}
.quarta-secao ul li{
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}
.sexta-secao{
    background-color: #1d80c1;
}
.sexta-secao p{
    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin: 30px 0;
}
.sexta-secao ul{
    margin: 40px auto;    
}
.sexta-secao ul li{    
    margin: 15px auto 0 auto;
    text-align: center;
    font-size: 18px;
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}
.tijuca{
    width: 200px;
}
.centro{
    width: 160px;
}
.meler{
    width: 130px;
}