body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
.secao-cabecalho{
    background-color: #B0DDFC;
    width: 100%;
    text-align: center;
    padding: 30px 0;      
}
.secao-cabecalho img{
    width: 200px;
}
.secao-cabecalho a{
    color: black;
    margin: 0px 5px;
}
.secao-sobre{
    padding: 30px 90px;
    text-align: center;
}
.banner{
    width: 100%;
}
.secao-sobre h1{
    margin: 30px 0 0 0;
}
.secao-sobre h2{
    margin: 5px;
    font-weight: normal;
    color: #5092be;
}
.secao-sobre .imovel-assinatura{
    width: 500px;
}
.secao-sobre p{
    text-align: justify;
    font-size: 20px;
}
.secao-sobre p span{
    font-weight: bold;
    color: #5092be;
}
.secao-serviços{
    background-color: #5092be;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}
.secao-serviços div{
    width: 600px;
    margin: auto;
}
.secao-serviços div div{
    width: 80px;
}
.secao-serviços div div ul li{
    margin: 10px;
}
.secao-serviços div p span{
    font-weight: bold;
    color: yellow;
}
.secao-corretores{
    text-align: center;
    padding: 20px 100px;
}
.secao-corretores h2{
    color: #5092be;
}
.secao-corretores img{
    width: 400px;
}
.secao-corretores p{
    text-align: justify;
}
.secao-corretores p span{
    font-weight: bold;
    color: #5092be;
}
.secao-contato{
    background-color: #5092be;
    padding: 20px 100px;
    text-align: center;
    color: white;
}
.secao-contato iframe{
    width: 700px;
    height: 300px;
}
.secao-contato p{
    background-color: black;
}
.secao-contato p span{
    font-weight: bold;
    color: yellow;
}
.secao-contato ul li div{
    margin: 5px auto;
    border-radius: 5px;
    background-color: #ffffff;    
}
.tijuca{
    width: 180px;
}
.centro{
    width: 150px;
}
.meler{
    width: 120px;
}