* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
.topo, .conteudo, .rodape{
    width: 100%;    
}
section{
    max-width: 1024px;
    margin: 0 auto;
}
header{
    padding: 10px;
}
header > nav{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header > nav > a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
header > nav > a > span{
    color: #0099ff;
}
nav{
    display: flex;
    gap: 20px;
}
nav a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
.plano-fundo{
    width: 100vw;
    background-image: url('../img_quarto/img-fundo.jpg');
    background-size: cover;
    height: 500px;
}
section{    
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
section>h1{    
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
}
figure{
    width: 100%;
    margin: 20px 0;
    display: flex;
    gap: 5px;
}
img{    
    width: calc(100% / 3);
}
section>div{
    width: 100%;    
    display: flex;    
    justify-content: space-between;
}
section>div>ul{
    margin-left: 15px;
}
.rodape{
    width: 100%;
    background-color: #52a388;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: #fff;
}
footer>div{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;       
    gap: 20px;
    border-bottom: 2px solid #3a7562;
    padding-bottom: 10px;
}
footer>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
footer>div>div>img{
    width: 30px;    
}
footer>p{
    font-weight: bold;
}