* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    
}
p{
    font-size: 10px;
}
:root{
    --var1: #fff;
    --var2: #f6f6f6;
    --var3: #a89f9f;
    --var4: #233032;
    --var5: #2f86d6;
    --sombra: rgba(47,134,214,1);
}
.topo{
    background-color: var(--var5);
    padding: 35px 0;
    align-items: center;
}
.topo-logo-links{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.logo{
    position: relative;
    width: 320px;    
}
.logo img{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
}
.logo h1{
    position: absolute;
    top: 0;
    left: 60px;
    font-size: 20px;
}
.logo p{
    position: absolute;
    top: 30px;
    left: 60px;
    color: var(--var1);
}
.links{
    right: 0;
}
a{    
    color: var(--var1);
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
}
.conteudo-principal-tabela{
    padding: 100px 0;    
}
table{
    width: 1024px;
    margin: 0 auto;
    border-collapse: collapse;
}
th>h2{
    font-size: 20px;
    font-weight: bold;
}
th, td{
    padding: 10px 20px;
    font-size: 10px;
}
thead>tr>th:nth-child(n+2){
    background-color: var(--var2);
}
tbody>tr>td:nth-child(1){
    background-color: var(--var2);
}
tbody>tr>td:nth-child(1n+2){
    text-align: center;
    border: 1px solid var(--var2);
}
thead>tr>th>p{
    color: var(--var3);
}
.rodape{    
    background-color: var(--var5);  
    height: 200px;
}
.rodape>div{
    position: relative;
}
.rodape>div>div{
    position: absolute;
    left: calc(100% / 2.5);
    top: 50px;
}
.rodape>div>p{
    position: absolute;
    color: var(--var1);
    left: calc(100% / 2.8);
    top: 120px;
}

.autor{
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
span{
    color: var(--var5);
}
.circulo{
    background-color: var(--var5);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 auto;
}