* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --var1: #fff;
    --var2: #f6f6f6;
    --var3: #a89f9f;
    --var4: #233032;
    --var5: rgb(47, 134, 214);
    --sombra: rgba(47,134,214,1);
}
p{
    font-size: small;
}
span{
    color: var(--var5);
}
.topo{
    padding: 35px 0px;
    width: 100%;
    height: 100px;
}
.topo div{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.links{
    right: 0;
    align-items: center;
}
.links a{
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}
.banner{
    padding: 180px 0px;
    background-color: var(--var5);
    height: 300px;
}
.banner-div{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.banner-div div{
    width: 470px;
    color: var(--var1);
}
.banner-div div h2, .banner-div div p{
    margin: 20px 0px;
}
.banner-div img{    
    width: 50%;    
}
.anuncios{
    padding: 40px 0px;
    background-color: var(--var4);
    width: 100%;
    margin: 0 auto;
}
.anuncios-flex{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;    
    color: var(--var1);
    width: 1024px;
}
.anuncios-flex div{
    width: 600px;    
}
.anuncios-flex div h3{
    font-weight: normal;
}
.anuncios-flex a{
    display: flex;
    text-decoration: none;
    padding: 10px;
    color: var(--var1);
    font-size: 15px;
    background-color: var(--var5);
    border-radius: 5px;
    right: 0;  
    align-items: center;
    text-align: center;
}
.anuncios-flex a p{
    display: inline;
    margin-left: 5px;
}
#informacoes{
    padding: 100px 0px;
    text-align: center;
    align-items: center;
}
.quadro-informacao{
    display: flex;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.informacao{
    width: 33%;
    text-align: center;
}
.informacao img{
    width: 100px;
}
#planos{
    padding: 100px 0px;
    background-color: var(--var3);
    text-align: center;
}
#planos h3{
    margin-bottom: 70px;
}

#planos table{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--var1);
    box-shadow: 0px 0px 20px 5px var(--sombra);
    border-collapse: collapse;
}
thead{ 

}
thead tr th{
    padding: 10px 30px;
    font-weight: normal;
    border: 2px solid var(--var3);
}
thead tr th img{
    width: 80px;
    margin: 10px 0;
}
thead tr th p{
    color: var(--var3);
    font-weight: normal;    
}
tbody tr:nth-child(odd){
    background-color: var(--var3);
}
tbody tr td{
    padding: 5px;    
    border: 2px solid var(--var3);
}

#rodape{
    padding: 100px 0px;
    text-align: center;    
}
#rodape .logo{
    margin: 0 auto;
}
.logo{
    width: 320px;
    height: 100px;
    left: 0;
    position: relative;
}
.logo img{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
}
.logo h1{
    position: absolute;
    left: 120px;
    top: 0;
}
.logo p{
    position: absolute;
    left: 120px;
    top: 50px;
    color: var(--var5);    
}
.contatos{
    margin-top: 90px;
}
.contatos p{
    margin-top: 10px;
    font-weight: bold;
}
.autor{
    padding: 20px 0px;
    margin: 0;
    background-color: var(--var3);    
    text-align: center;
    font-weight: bold;
}