* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.topo, .rodape{
    background-color: #ff8014;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 16px 0;
    font-size: 20px;    
}
.limita-largura{    
    width: 100%;
    min-width: 350px;
    max-width: 1024px;
    margin: 0 auto;
}
.area{    
    margin: 20px 35px;
}
.apresentacao{    
    height: 315px;
    overflow-y: scroll;
    width: calc(100% - 70px);
}
.galeria{
    width: calc(100% - 70px);
}
.apresentacao img, .area p, .area-tres-imagens{
    width: 100%;
    margin: 15px 0;
    text-align: justify;
}

.area-tres-imagens{
    display: flex;
    overflow-x: scroll;    
}
.area-tres-imagens img{
    width: calc((100% / 3) - 3px);
    margin: 0 1.5px;
}