.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 0px;
    background-color: #f1f1f1;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 280px;
    background-color: #8d929b;
    border-radius: 4px;
}
.container-imagem{
    height: 150px;
}
.container-imagem img{
    width: 100%;
    height: 100%;
}
.container-info{
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
