body{
    background-color: white;
    text-align: center;
}

div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 50px 0px 50px;
}
h1{
    border: 2px solid rgb(76, 75, 75);
    color: rgb(76,75,75);    
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}
h2{
    font-weight: normal;
    color: gray;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;   
    padding: 10px;
}
p{
    text-align: center;
    font-size: 30px;
    color: grey;
    text-align: justify;
    line-height: 50px;
}
span{
   padding: 0px 0px 40px 0px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgb(5, 198, 5);
    border-radius: 25px;
    padding: 10px 15px;    
}