* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
  }
 
  .neymar{
    background-image: url(../img/imagem-de-fundo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .secao{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imagem-titulo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  .efeito-borda{
    color: #000;
    width: 215px;
    height: 215px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagem{
    width: 200px;
    height: 200px;
    background-color: #000;
    background-image: url('../img/neymar.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 100%;
  }
  .imagem-titulo h1{
    font-size: 45px;
    color: #fff;
    text-shadow: 3px 6px 1px #000000;
  }
  .tarja{
    position: absolute;
    width: 55px;
    height: 5px;
    background: linear-gradient(90deg, #ffdf00, #009c3b);
    bottom: 2px;
    left: 5px;
    border-radius: 4px;
  }
  .verificado{
    width: 20px;
    position: absolute;
    right: -15px;
    bottom: 10px;
  }
  .links{    
    width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .links a{
    position: relative;
    padding: 10px;
    width: 100%;
    color: #fff;
    background-color: #0200006e;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
  }
  .links a:hover{
    color: #000;
    background-color: #fff;
  }
  .links a img{
    position: absolute;
    left: 5px;
    bottom: 5px;
  }
  .estatistica{
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/imagem-de-fundo.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .estatistica h2{
    font-size: 74px;
    color: #fff;
    text-shadow: 3px 6px 1px #000000;
  }
  table{
    width: 768px;
  }
  table tr:nth-of-type(odd){
    color: #fff;
    background-color: #000000cc;
  }
  table tr:nth-of-type(even){
    color: #000;
    background-color: #fff;
  }
  td{
    padding: 10px;
    text-align: center;
  }
  td:first-child{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  img{
    width: 30px;
  }
  .times{
    display: flex;
    justify-content: center;
    align-items: center;
  }