* {
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;    
}
header, footer{
    width: 100%;
    padding: 10px;
    background-color: #00aeff;      
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.titulo-logo{
    font-weight: bold;
    margin: 0 10px;
}
h1{
    margin: 25px 0 0 0;
    text-align: center;
}
div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0 0 0;
}
div img{
    width: 100%;
}
article{
    text-align: center;
}
section{
    margin: 32px auto;
}
section::first-letter{
    font-size: 24px;
}
section::first-line{
    font-style: italic;
}
p{
    line-height: 32px;
}