/*paletas de cores*/

:root{
    --var1: #c4a47c;
    --var2: #fff;
    --var3: #000000;
    --var4: #604829;
    --var5: #666;
    --var6: #acacac;
}
/*retirando todas as margens dos elementos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*colocando as fontes da pagina*/

h2{
    font-family: 'oswald', sans-serif;
    color: var(--var1);
    margin-bottom: 30px;
}
h1, h3{
    font-family: 'fraunces', sans-serif;
}
p{
    font-family: 'lato', sans-serif;
}
.secao{
    width: 100%;
}
#topo{
    position: fixed;
    z-index: 1;
    background-color: var(--var4);
    display: flex;
    height: 100px;    
}
#topo img{
    position: absolute;
    width: 80px;
    height: 100px;
    left: 15%;
}
#topo div{
    position: absolute;
    top: 35%;    
    right: 15%;
}
#topo div a{
    text-decoration: none;
    color: var(--var1);    
    background-color: none;
    text-shadow: 2px 2px var(--var3);
    margin-left: 10px;
    font-family: 'oswald', sans-serif;
}
.conteiner-imagem-paralax{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
#banner{
    height: 100vh;
    background-image: url('../img/parallax-imagem1.png');
    position: relative;
}
#banner h1{
    position: absolute;
    top: 45%;    
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;    
    font-weight: normal;
}
.conteiner-texto{
    padding: 80px 80px;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--var5);  
}
.conteiner-texto p{
    max-width: 1024px;
    padding: 0 20px;
    margin: 0 auto;
}
#imagem-bom-cafe{
    background-image: url('../img/parallax-imagem2.jpg');
    height: 50vh;
    position: relative;
}
#imagem-bom-cafe h3, #imagem-cafe-vida h3{
    position: absolute;
    top: 45%;
    width: 500px;
    color: var(--var2);
    background-color: #604829;
    font-weight: normal;
    font-style: italic;
    padding: 10px;
    left: calc(100% / 3);    
    text-align: center;
}
#imagem-cafe-vida{
    position: relative;
    background-image: url('../img/parallax-imagem3.jpg');
    height: 50vh;
}
#contatos{
    position: relative;
    background-image: url('../img/parallax-imagem4.png');
    height: 100vh;
}
#contatos h2{
    position: absolute;
    width: 500px;
    padding: 10px;
    top: 10%;
    left: calc(100% / 3);
    background-color: #604829;
    color: #fff;
    text-align: center;
    font-weight: normal;
}
#contatos iframe{
    position: absolute;
    top: 23%;
    left: calc(90% / 3);
    height: 350px;
}
#contatos div{
    position: absolute;
    bottom: 3%;
    left: calc(100% / 3);
    text-align: center;
    width: 500px;
    background-color: #604829;
    padding: 10px;
}
#contatos div p{
    color: var(--var2);
}
#horarios{
    position: relative;
    background-image: url('../img/cafeteria.jpg');
    height: 85vh;
}
#horarios h2{
    position: absolute;
    top: 20%;
    color: var(--var2);
    text-align: center;
    right: 0;
    left: 0;
    font-weight: normal;
}
.lista{
    position: absolute;
    color: var(--var2);
    width: 768px;
    bottom: 20%;
    left: calc(90% / 3);    
}
.lista ul{    
    list-style: none;
}
.lista ul li{
    position: relative;
}
.lista ul li div{    
    position: absolute;
    height: 1px;
    width: 70%;
    background-color: var(--var6);
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50%;
}
.lista ul li span{
    position: absolute;
    top: 0;
    right: 0;
}
.lista ul li p{
    position: absolute;
    top: 0;
    right: 0;
}
#rodape{
    position: relative;
    background-color: var(--var3);
    padding: 20px 0;
    color: var(--var2);
    text-align: center;
}
span{
    color: #c4a47c;
}
.link{
    position: absolute;
    bottom: 80px;
    right: 50px;
    width: 60px;
    height: 60px;
}